# ===== PostgreSQL =====
DATABASE_URL="postgresql://postgres@127.0.0.1:5432/ardean"
DIRECT_URL="postgresql://postgres@127.0.0.1:5432/ardean"

# ===== Better Auth =====
# Generate: node -e "console.log(require('crypto').randomBytes(32).toString('base64'))"
BETTER_AUTH_SECRET="change-me"
BETTER_AUTH_URL="http://localhost:3000"

# ===== Redis =====
REDIS_URL="redis://127.0.0.1:6379"

# ===== Midtrans =====
MIDTRANS_SERVER_KEY=""
NEXT_PUBLIC_MIDTRANS_CLIENT_KEY=""
MIDTRANS_IS_PRODUCTION="false"
